{% extends 'layout.html' %}
{% block title %}WELCOME AS A HUBBERS<br> JUDGE!{% endblock %}

{% block content %}
<!-- COPY -->
<tr>
	<td bgcolor="#ffffff" align="left"
		style="padding: 20px 30px 40px 30px; color: #666666; font-family: 'Lato', Helvetica, Arial, sans-serif; font-size: 18px; font-weight: 400; line-height: 25px; border-left: 1px solid #eee; border-right: 1px solid #eee;">
		<p style="margin: 0; color: #353434">Dear {{name}}!</p>
		<p></p>
		<p style="margin: 0; color: #353434">Welcome to our exclusive Hubbers community!</p>
		<p style="margin: 0; color: #353434">If you have been invited to our group, it is because we believe that you share
			our views and interests on how product development should be done.</p>
		<p align="center" style="padding-bottom: 15px;">
			<a href="{{invitationLink}}" target="_blank" style="background:#75AC2A;width:65%;font-size: 18px; font-family: Helvetica, Arial, sans-serif; color: #ffffff; text-decoration: none; color: #ffffff; text-decoration: none; letter-spacing: 0.05rem; padding: 15px 25px; border-radius: 2px; border-radius: 5px; display: inline-block;text-transform: uppercase;">SIGN UP AS A JUDGE</a>
		</p>
		<p></p>
		<p></p>
		<p style="margin: 0; color: #353434">Being part of hubbers as a judge, you will have access to all the great tools we have implemented for you:</p>
	</td>
</tr>
<!-- COPY -->
<tr bgcolor="#ffffff" style="border-top: 4px solid #75ac29;">
	<td>
		<br>
		<img src="https://hubbers-hk.oss-cn-hongkong.aliyuncs.com/assets/signup/signup-feature-7.png" width="40px;" style="padding: 20px 30px 20px 35px; float: left;">
		<span style="display: table-cell;padding-top: 16px; padding-right: 30px;font-family: 'Lato', Helvetica, Arial, sans-serif;"><strong>EVALUATE INNOVATIVE CONTESTS</strong><br>Offer your advice and opinion in creator contests and help to improve the participating products.</span>
	</td>
</tr>
<tr bgcolor="#ffffff">
	<td>
		<img src="https://hubbers-hk.oss-cn-hongkong.aliyuncs.com/assets/signup/signup-feature-8.png" width="40px;" style="padding: 20px 30px 20px 35px; float: left;">
		<span style="display: table-cell;padding-top: 28px; padding-right: 30px;font-family: 'Lato', Helvetica, Arial, sans-serif;"><strong>GAIN MARKET VISIBILITY</strong><br>Build your network, show your expertise and find new work, and investment opportunities.</span>
	</td>
</tr>
<tr bgcolor="#ffffff">
	<td>
		<img src="https://hubbers-hk.oss-cn-hongkong.aliyuncs.com/assets/signup/signup-feature-9.png" width="40px;" style="padding: 20px 30px 20px 35px; float: left;">
		<span style="display: table-cell;padding-top: 28px; padding-right: 30px;font-family: 'Lato', Helvetica, Arial, sans-serif;"><strong>GET INSIGHTS IN NEW PRODUCTS DEVELOPMENT</strong><br>Be the first to experiment with new products on the market and see innovative ideas become reality.</span>
	</td>
</tr>
<tr bgcolor="#ffffff">
	<td>
		<img src="https://hubbers-hk.oss-cn-hongkong.aliyuncs.com/assets/signup/signup-feature-10.png" width="40px;" style="padding: 20px 30px 20px 35px; float: left;">
		<span style="display: table-cell;padding-top: 28px; padding-right: 30px;font-family: 'Lato', Helvetica, Arial, sans-serif;"><strong>GET PRIORITY INVESTING IN NEW PRODUCTS</strong><br>Find high return investment opportunities and get the chance to be part of a team of early adopters.</span>
		<br>
		<br>
	</td>
</tr>
{% endblock %}