{% extends 'layout.html' %}
{% block title %}WELCOME AS A HUBBERS<br> CONTESTANT!{% endblock %}

{% block content %}
<!-- COPY -->
<tr>
	<td bgcolor="#ffffff" align="left"
		style="padding: 20px 30px 40px 30px; color: #666666; font-family: 'Lato', Helvetica, Arial, sans-serif; font-size: 18px; font-weight: 400; line-height: 25px; border-left: 1px solid #eee; border-right: 1px solid #eee;">
		<p style="margin: 0; color: #353434">Dear {{name}}!</p>
		<p></p>
		<p style="margin: 0; color: #353434">Welcome to our exclusive Hubbers community!</p>
		<p style="margin: 0; color: #353434">If you have been invited to this group, it is because we believe you share our views and interests on how product development should be done.</p>
		<p align="center" style="padding-bottom: 15px;">
			<a href="{{invitationLink}}" target="_blank" style="background:#75AC2A;width:65%;font-size: 18px; font-family: Helvetica, Arial, sans-serif; color: #ffffff; text-decoration: none; color: #ffffff; text-decoration: none; letter-spacing: 0.05rem; padding: 15px 25px; border-radius: 2px; border-radius: 5px; display: inline-block;text-transform: uppercase;">SIGN UP AS A CONTESTANT</a>
		</p>
		<p></p>
		<p></p>
		<p style="margin: 0; color: #353434">Being part of hubbers as a contestant, you will have access to all the great tools we have implemented for you:</p>
	</td>
</tr>
<!-- COPY -->
<tr bgcolor="#ffffff" style="border-top: 4px solid #75ac29;">
	<td>
		<br>
		<img src="https://hubbers-hk.oss-cn-hongkong.aliyuncs.com/assets/signup/signup-feature-3.png" width="40px;" style="padding: 20px 30px 20px 35px; float: left;">
		<span style="display: table-cell;padding-top: 16px; padding-right: 30px;font-family: 'Lato', Helvetica, Arial, sans-serif;"><strong>EARN MONEY & WIN PRIZES</strong><br>By using your expertise and skills at innovative and exciting projects.</span>
	</td>
</tr>
<tr bgcolor="#ffffff">
	<td>
		<img src="https://hubbers-hk.oss-cn-hongkong.aliyuncs.com/assets/signup/signup-feature-11.png" width="40px;" style="padding: 20px 30px 20px 35px; float: left;">
		<span style="display: table-cell;padding-top: 16px; padding-right: 30px;font-family: 'Lato', Helvetica, Arial, sans-serif;"><strong>BRING YOUR PRODUCT TO MARKET</strong><br>Get the opportunity to manufacture your idea and distribute the ready product on the market.</span>
	</td>
</tr>
<tr bgcolor="#ffffff">
	<td>
		<img src="https://hubbers-hk.oss-cn-hongkong.aliyuncs.com/assets/signup/signup-feature-12.png" width="40px;" style="padding: 20px 30px 20px 35px; float: left;">
		<span style="display: table-cell;padding-top: 16px; padding-right: 30px;font-family: 'Lato', Helvetica, Arial, sans-serif;"><strong>EARN ROYALTIES</strong><br>After any of your products distributed and sold on a market.</span>
	</td>
</tr>
<tr bgcolor="#ffffff">
	<td>
		<img src="https://hubbers-hk.oss-cn-hongkong.aliyuncs.com/assets/signup/signup-feature-13.png" width="40px;" style="padding: 20px 30px 20px 35px; float: left;">
		<span style="display: table-cell;padding-top: 16px; padding-right: 30px;font-family: 'Lato', Helvetica, Arial, sans-serif;"><strong>BECOME A CREATOR</strong><br>Get the chance to create your idea, bring develop a new product or improve an existing one.</span>
		<br>
		<br>
	</td>
</tr>
{% endblock %}